/* src/pages/UploadVideo/UploadVideo.module.css */

.uploadContainer {
  /* Estilo para o container principal do formulário */
  padding: 20px; /* Padding padrão para desktop */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff; /* Fundo do card do formulário */
}

.pageTitle {
  /* Estilo para o título da página */
  color: #49c5b6; /* Cor primária do Material-UI */
  /* margin-bottom será controlado pelo sx do componente */
}

/* --- Media Queries para Responsividade --- */

/* Para telas menores ou iguais a 900px (Tablets em retrato, iPads - breakpoint 'md') */
@media (max-width: 900px) {
  .uploadContainer {
    padding: 15px; /* Reduz o padding do card do formulário */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); /* Sombra mais suave */
  }
}

/* Para telas menores ou iguais a 600px (Smartphones, iPhones - breakpoint 'sm' e 'xs') */
@media (max-width: 600px) {
  .uploadContainer {
    padding: 10px; /* Reduz o padding ainda mais para celulares */
    border-radius: 4px; /* Bordas um pouco menos arredondadas */
    box-shadow: none; /* Remove a sombra em telas muito pequenas para um visual mais limpo */
  }
}